{
  "extends": [
    "./node_modules/rete-cli/.eslintrc"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "ignorePatterns": [
    "assets"
  ],
  "rules": {
    "global-require": "off",
    "@typescript-eslint/no-var-requires": "off",
    "no-console": "off"
  }
}
