name: Regression build

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

jobs:
  angular:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        version: [12,13,14,15,16,17]
    uses: ./.github/workflows/test-build.yml
    with:
      os: ${{ matrix.os }}
      stack: angular
      version: ${{ matrix.version }}
      node: ${{ matrix.version < 14 && 14 || (matrix.version >=17 && 18 || 16) }}
      features: "Angular render,${{ vars.FEATURES }}"

  react:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        version: [16,17,18]
    uses: ./.github/workflows/test-build.yml
    with:
      os: ${{ matrix.os }}
      stack: react
      version: ${{ matrix.version }}
      node: 18
      features: "React render,${{ vars.FEATURES }}"

  vue:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        version: [2,3]
    uses: ./.github/workflows/test-build.yml
    with:
      os: ${{ matrix.os }}
      stack: vue
      version: ${{ matrix.version }}
      node: 18
      features: "Vue render,${{ vars.FEATURES }}"
        
  svelte:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        version: [3,4]
    uses: ./.github/workflows/test-build.yml
    with:
      os: ${{ matrix.os }}
      stack: svelte
      version: ${{ matrix.version }}
      node: 18
      features: "Svelte render,${{ vars.FEATURES }}"
          
  vite:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    uses: ./.github/workflows/test-build.yml
    with:
      os: ${{ matrix.os }}
      stack: vite
      version: 18
      node: 18
      features: "React render,${{ vars.FEATURES }}"
          
  react-vite:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        version: [16,17,18]
    uses: ./.github/workflows/test-build.yml
    with:
      os: ${{ matrix.os }}
      stack: react-vite
      version: ${{ matrix.version }}
      node: 18
      features: "React render,${{ vars.FEATURES }}"

  vue-vite:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        version: [2,3]
    uses: ./.github/workflows/test-build.yml
    with:
      os: ${{ matrix.os }}
      stack: vue-vite
      version: ${{ matrix.version }}
      node: 18
      features: "Vue render,${{ vars.FEATURES }}"

  next:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    uses: ./.github/workflows/test-build.yml
    with:
      os: ${{ matrix.os }}
      stack: next
      version: 18
      node: 18
      features: "React render,${{ vars.FEATURES }}"
      
  nuxt:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    uses: ./.github/workflows/test-build.yml
    with:
      os: ${{ matrix.os }}
      stack: nuxt
      version: 3
      node: 18
      features: "Vue render,${{ vars.FEATURES }}"
          
